@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --blackish: #181818;
  --brownish: #382110;
  --grayish: #999999;
  --greenish: #04AA6D;
  --reddish: #ff0021;
  --light-beige: #F4F1EA;
  --light-gray: #eee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-beige);
  color: var(--brownish);
  height: 100px;
  width: 100%;
  box-shadow: 1px 2px rgb(0 0 0 / 15%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 2rem;
}

.add-book {
  width: 180px;
  height: 60px;
  font-size: 24px;
  border-radius: 8px;
  background-color: var(--brownish);
  color: #FFFFFF;
  cursor: pointer;
}

#form-popup {
  position: absolute;
  top: 30%;
  width: 400px;
  color: var(--brownish);
  background-color: var(--light-beige);
  font-size: 20px;
}

.close {
  color: var(--grayish);
  position: absolute;
  right: 0.5rem;
  top: 0;
  cursor: pointer;
}

#pages,
#read {
  width: 120px;
}

.submit {
  cursor: pointer;
  align-self: center;
}

.add-book:hover,
.btn:hover {
  opacity: 0.9;
}

.close:hover {
  color: var(--blackish);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
  font-size: 2rem;
  border: 1px solid var(--brownish);
  padding: 30px;
}

.form-input-container input {
  width: 96%;
  height: 40px;
  font-size: 16px;
  padding: 4px 8px;
}

form input[type='radio'] {
  height: 20px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

table {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  text-indent: initial;
  text-align: left;
  border-spacing: 2px;
  width: 80vw;
}

thead {
  border-bottom: 2px solid var(--light-beige);
}

th {
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 2px;
  padding: 12px 5px 5px 5px;
}

td {
  font-size: 14px;
  padding: 12px 5px 5px 5px;
}

tbody tr {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  border-collapse: separate;
  border-spacing: 2px;
}

th.title {
  width: 30%;
}

th.author {
  width: 25%;
}

th.pages {
  width: 15%;
}

th.status {
  width: 15%;
}

th.remove {
  width: 15%;
}

.btn {
  width: 80px;
  height: 30px;
  font-size: 12px;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.status-Read {
  background-color: var(--greenish);
}

.status-Unread {
  background-color: var(--reddish);
}

.remove-btn {
  background-color: var(--light-beige);
  color: var(--blackish);
}

.radio {
  display: flex;
}

.radio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 450px) {
  #form-popup {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  td {
    font-size: 12px;
    padding: 5px;
  }

  .btn {
    width: 60px;
  }
}

@media screen and (max-width: 350px) {
  .btn {
    width: 42px;
    font-size: 10px;
  }
}

@media screen and (max-width:1000px) and (min-width:450px) {
  #form-popup {
    position: absolute;
    top: 0;
    width: 80vw;
    height: 80vh;
  }
}