@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --light-shade-yellow: #F4F1EA;
  --black-text: #181818;
  --gray-text: #999999;
  --brown-title: #382110;
  --light-gray: #eee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-shade-yellow);
  color: var(--brown-title);
  height: 100px;
  box-shadow: 1px 2px rgb(0 0 0 / 15%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 2rem;
}

.add-book {
  width: 180px;
  height: 60px;
  font-size: 24px;
  border-radius: 8px;
  background-color: var(--brown-title);
  color: #FFFFFF;
  cursor: pointer;
}

#form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: var(--brown-title);
  background-color: var(--light-shade-yellow);
  font-size: 20px;
}

.close {
  color: var(--gray-text);
  position: absolute;
  right: 0.5rem;
  top: 0;
  cursor: pointer;
}

#pages, #read {
  width: 120px;
}

.submit {
  align-self: center;
  cursor: pointer;
}

.add-book:hover, .btn:hover {
  opacity: 0.9;
}

.close:hover {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  font-size: 2rem;
  border: 1px solid black;
  padding: 30px;
}

.form-input-container input{
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 4px 8px;
}

form input[type='radio'] {
  height: 20px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

table {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  text-indent: initial;
  text-align: left;
  border-spacing: 2px;
  width: 750px;
}

thead {
  border-bottom: 2px solid var(--light-shade-yellow);
}

th {
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 2px;
  padding: 12px 5px 5px 0;
}

td {
  font-size: 14px;
  padding: 12px 5px 5px 0;
}

tbody tr {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  border-collapse: separate;
  border-spacing: 2px;
}

th.title {
  width: 30%;
}

th.author {
  width: 25%;
}

th.pages {
  width: 15%;
}

th.status {
  width: 15%;
}

th.remove {
  width: 15%;
}

.btn {
  width: 80px;
  height: 30px;
  font-size: 12px;
  border-radius: 8px;
  background-color: var(--brown-title);
  color: #FFFFFF;
}

.radio {
  display: flex;
}

.radio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}